*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    background-color: rgb(131, 21, 21);
/*     outline: 1px solid red; */
}
header{
/*     background-color: rgb(68, 0, 255); */
    height: 6rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
}
.content{
/*     background-color: rgb(49, 21, 151) ; */
    font-size: 125%;
    margin-bottom: 5vh;
}
.content2{
    text-align: center;
        font-size: 100%;
    }
.contentR{
    margin-top: 10vh;
    align-self: flex-start;
    font-size: 100%;
}
.contentR2{
    margin-top: 3vh;
    align-self: flex-start;
    font-size: 100%;
}
.contentRT{
    margin-top: 2vh;
    font-size: 120%;
    text-align: center;
}
.contentRT2{
    margin-top: 2vh;
    font-size: 120%;
    text-align:left;
    margin-bottom: 5vh;
}
.title1{
    align-self: flex-end;
    margin-left: 11rem;
}
.title2{
    align-self: flex-end;
    margin-right: 12rem;
    background-color: black;
    width: 26vh;
}
a:hover{
    background-color: red;
    color: black;
}
a[href="#"]{
    background-color: rgb(163, 11, 11);
}
header a{
    width: 10vh;
    height: 10vh;
    background-color: red;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    margin: 0.5vh;
}
main{
/*     background-color: rgb(49, 21, 151); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25vh;
    margin-right: 25vh;
}
.titleimg{
    height: 60vh;
    width: 160vh;
}
/* .imgt{
    background-color: black;
} */
.link{
    text-decoration: none;
}
main a:hover {
    background-color:transparent;
    text-decoration:underline;
}
.enter{
    color: transparent;
}
.list{
    font-size: 130%;
    margin-top: 3vh;
    margin-left: 3vh;
}
.num{
    list-style-type:lower-latin;
}
.invisible{
    color: transparent;
}
.textN{
    font-size: 100%;
    font-weight: normal;
}
.point{
    margin-left: 5vh;
    list-style-type: circle;
    font-size: 100%;
}
.tl{
    text-decoration: underline;
}
.tabla{
    /* background: linear-gradient(rgb(6 2 20), rgba(19, 10, 101, 0.78)); */
    /* background: linear-gradient(rgb(0, 0, 0), rgba(10, 6, 48, 0.875)); */
    /* background: linear-gradient(rgb(163, 11, 11), rgb(163, 11, 11)); */
    margin-top: 5vh;
    min-height: 60vh;
    display: flex;
    align-items: center;
}
.tabla{
    justify-content: center;
    align-items: center;
}
table {
/*     background-color: rgb(5, 119, 107);
    width: 50vw;
    height: 30vh; */
    border-collapse: collapse;
/*     border: 1px solid black;
    border-radius: 6px; */
}
th,
td {
    border: 1px solid white;
    color: white;
    padding: 10px;
}
.fecha2{
    text-align:center;
    padding-left: 5vh;
    padding-right: 5vh;
}
.fecha{
    text-align:center;
/*     padding-left: 5vh;
    padding-right: 5vh; */
}
.text{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    margin: 2vh;
    align-self: flex-start;
    font-size: 110%;
}
.text2{
    width: 150vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}