*{
    font-family: cursive;
}
header{
    position: relative;
    top: 2.1rem;
    left: 8rem;
    font-size:145%;
}
#img1{
    padding-left: 8rem;
    width: 80rem;
    height: 30rem;
}
nav{
    position: absolute;
    top: 6.8rem;
    right: 8rem;
}
nav a{
    display: inline-block;
    width: 6rem;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    background-color: rgb(62, 50, 235);
    color: white;
}
a[href="#"]{
    background-color: green
}
#sub{
    text-align: center;
    font-size: 180%;
    font-weight: bolder;
}
#img2{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 8rem
}
#text{
    font-size: 120%;
    display: inline-block;
    position: absolute;
    left: 30rem;
}