*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    background-color: rgb(131, 21, 21);
}
header{
    height: 6rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
}
.content{
    font-size: 125%;
    margin-bottom: 5vh;
}
.content2{
    text-align: center;
        font-size: 100%;
    }
.contentR{
    margin-top: 10vh;
    align-self: flex-start;
    font-size: 100%;
}
.contentR2{
    margin-top: 3vh;
    align-self: flex-start;
    font-size: 100%;
}
.contentRT{
    margin-top: 2vh;
    font-size: 120%;
    text-align: center;
}
.contentRT2{
    margin-top: 2vh;
    font-size: 120%;
    text-align:left;
    margin-bottom: 5vh;
}
.title1{
    align-self: flex-end;
    margin-left: 11rem;
}
.title2{
    align-self: flex-end;
    margin-right: 12rem;
    background-color: black;
    width: 26vh;
}
a:hover{
    background-color: red;
    color: black;
}
a[href="#"]{
    background-color: rgb(163, 11, 11);
}
header a{
    width: 10vh;
    height: 10vh;
    background-color: red;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    margin: 0.5vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25vh;
    margin-right: 25vh;
}
.titleimg{
    height: 60vh;
    width: 160vh;
}
.link{
    text-decoration: none;
}
main a:hover {
    background-color:transparent;
    text-decoration:underline;
}
.enter{
    color: transparent;
}
.list{
    font-size: 130%;
    margin-top: 3vh;
    margin-left: 3vh;
}
.num{
    list-style-type:lower-latin;
}
.invisible{
    color: transparent;
}
.textN{
    font-size: 100%;
    font-weight: normal;
}
.point{
    margin-left: 5vh;
    list-style-type: circle;
    font-size: 100%;
}
.tl{
    text-decoration: underline;
}
.tabla{
    margin-top: 5vh;
    min-height: 60vh;
    display: flex;
    align-items: center;
}
table {
    border-collapse: collapse;
}
th,
td {
/*     border: 1px solid white; */
    color: white;
    padding: 10px;
}
.fecha2{
    text-align:center;
    padding-left: 5vh;
    padding-right: 5vh;
}
.fecha{
    text-align:center;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    margin: 2vh;
    align-self: flex-start;
    font-size: 110%;
}
.text2{
    width: 150vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}
.ubicationtxt{
    background-color: black;
    display: flex;
    align-self: flex-start;
    margin-bottom: 2rem;
/*     padding: 15px; */
}