*{
    font-family: cursive;
    color: red;
}

header{
    position: relative;
    top: 2.1rem;
    left: 8rem;
    font-size:145%;
}
#imgT{
    padding-left: 8rem;
    width: 80rem;
    height: 30rem;
}
nav{
    display: inline-block;
}
#nav{
    display: inline-block;
    position: relative;
    top: 25px; left: 1030px;
}
nav a{
    display: inline-block;
    width: 6rem;
    text-align: center;
    font-weight: bolder;
    padding: 0.6rem;
    text-decoration:none;
    background-color:rgb(238, 55, 55);
    color:rgb(255, 255, 255);
    border-radius: 2rem;
}
a[href="#"]{
    background-color: rgb(13, 0, 128)
}
a:hover{
    background-color: red;
    color: black;
}
#sub{
    display: inline-block;
    position: relative;
    left: 38rem;
    text-align: center;
    font-size: 180%;
    font-weight: bolder;
}
#img2{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    top: 43rem;
    position: absolute;
    left: 8rem
}
#text{
    font-size: 120%;
    display: inline-block;
    position: absolute;
    left: 30rem;
    font-weight: 550;
    max-width: 50rem;
}
#fondo{
    display: inline-block;
    position: absolute;
    left: 35rem;
    top: 47.6rem;
}
#fonde{
    width: 35rem;
    height: 35rem;
    opacity:calc(80%) ;
}
#img1{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    top: 63rem;
    position: absolute;
    left: 8rem
}
