
header{
    font-family: cursive;
    position: relative;
    top: 2.1rem;
    left: 13rem;
    font-size:145%;
}
#img1{
    padding-left: 13rem;
    width: 70rem;
    height: 25rem;
}
nav{
    position: absolute;
    top: 7.2rem;
    right: 13rem;
}
nav a{
    display: inline-block;
    width: 6rem;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    background-color: rgb(62, 50, 235);
    color: white;
}
a[href="#"]{
    background-color: green
}
#sub{
    text-align: center;
    font-size: 180%;
    font-weight: bolder;
    font-family: cursive;
}
#img2{
    display: inline-block;
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 13rem
}
